<% var theEvent = '' %>
<%- include header %>
      
      <h4><a href="/dashboard/<%= org._id %>/event/<%= event._id %>"><%= event.name %></a></h4>
      <p><span class="user-reservations-event-date"><%= moment(event.date).format('LLLL') %></span></p>
      <p class="text-muted"><%= reservation.name %>, <%= reservation.seats %> seats.</p>
      <a href="/r/delete-reservation/<%= reservation._id %>" class="btn btn-danger btn-remove-item" data-message="Are you sure?">
        <i class="fa fa-times-circle"></i>
        Delete reservation
      </a>

<%- include footer %>
