<%- include header %>
    
    <div class="rzv-lightbox">

      <h2>Reservations</h2>

      <table class="table-reservations table table-striped">
        <thead>
          <tr>
            <th>
              Name
            </th>
            <th>
              Email
            </th>
            <th>
              Seats
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% var i = 1; var s = 0; %>
          <% reservations.forEach(function(reservation){ %>
            <% if (!reservation.waiting)  { %>
            <tr>
              <td>

                <%= i %>. <%= reservation.name %>
                <% i = i + 1 %>

              </td>
              <td>
                <%= reservation.email %>
              </td>
              <td>
                <%= reservation.seats %>
                <% s = s + parseInt(reservation.seats) %>
              </td>
              <td>
                <a href="/u/delete-reservation/<%= reservation._id %>" class="btn-delete-reservation">
                  <i class="fa fa-times-circle"></i>
                  Delete Reservation
                </a>
              </td>
            </tr>
            <% } %>
          <% });%>
        </tbody>
        <tfoot>
          <td>
            <strong>Total reserved seats :</strong>
          </td>
          <td>
            
          </td>
          <td>
            <strong><%= s %></strong>
          </td>
          <td>
            
          </td>
        </tfoot>
      </table>

      <h2>Waiting list</h2>

      <table class="table-reservations table table-striped">
        <thead>
          <tr>
            <th>
              Name
            </th>
            <th>
              Email
            </th>
            <th>
              Seats
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% var m = 1; var ws = 0; %>
          <% reservations.forEach(function(reservation){ %>
            <% if (reservation.waiting)  { %>
            <tr>
              <td>
                <%= m %>. <%= reservation.name %>
                <% m = m +1; ws = ws + parseInt(reservation.seats) %>
              </td>
              <td>
                <%= reservation.email %>
              </td>
              <td>
                <%= reservation.seats %>
              </td>
              <td>
                <a href="/dashboard/<%= orgId %>/event/<%= eventId %>/delete/<%= reservation._id %>" class="btn-delete-reservation">
                  <i class="fa fa-times-circle"></i>
                  Delete Reservation
                </a>
              </td>
            </tr>
            <% } %>
          <% });%>
        </tbody>
        <tfoot>
          <td>
            <strong>Total waiting seats :</strong>
          </td>
          <td>
            
          </td>
          <td>
            <strong><%= ws %></strong>
          </td>
          <td>
            
          </td>
        </tfoot>
      </table>

    </div>

      
    

<%- include footer %>
