<% moment.locale(org.locale); %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reservr 3</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/bower_components/rome/dist/rome.min.css">
  <link rel="stylesheet" href="/css/reservr3.css">
  <link rel="stylesheet" href="/css/fonts.css">
</head>
<body>

  <div class="container-fluid"  style="height: 100%">

    <div class="row"  style="height: 100%">

      <div class="col-md-4" style="height: 100%">

        <div class="rzv-logo-wrap">
          
          <a href="" class="logo">

            <img src="/images/logo-white.png" alt="">  

          </a>  

        </div>

        <a href="" class="btn btn-primary btn-lg btn-add-new-event">Add new event</a>
        
        <div class="event-list">
          
          <% events.forEach(function(event){ %>
            <div class="box-white event-summary event-active">
              
              <div class="event-date">
                
                <span class="text-small">
                  <%= moment(event.date).format('dddd') %>
                  
                  <%= moment(event.date).format('DD') %>
                
                  <%= moment(event.date).format('MMM') %>,
                
                  <%= moment(event.date).format('HH:mm') %>
                
                  <%= moment(event.date).format('YYYY') %>
                </span>

              </div>

              <a class="event-title" href="/dashboard/<%= orgId %>/event/<%= event._id %>"><%= event.name %></a>

              <div class="event-reservations">
                <p class="text-muted" style="margin-bottom: 0">

                    <a href="/dashboard/<%= orgId %>/reservations/<%= event._id %>"><%= event.invited %> rezervari</a>
                  
                  
                    din <%= event.seats %> disponibile.
                  
                  
                    <%= event.waiting %> in asteptare
                  
              </div>

            </div>
          <% }) %>
        </div>
      </div>
      <div class="col-md-8" style="height: 100%">

        <ul class="list list-unstyled pull-right header-menu">
          <li><a href="/dashboard/<%= org._id %>/settings">Settings</a></li>
          <li><a href="">Sign Out</a></li>
        </ul>