<%- include dashboard-header %>
  
<div class="row">
  <div class="col-md-2">
    
    <%- include nav-left %>
  </div>
  <div class="col-md-10">
    
    <div class="row">
      <div class="col-md-12">

        <h3>Edit event id:</h3>
        
      </div>
    </div>
    
    <form method="post" action="/dashboard/<%= orgId %>/event" enctype="multipart/form-data">
      
      <div class="row">
        
        <div class="col-md-12">
          
          <% if (errors.length) { %>
          
          <div data-alert class="alert alert-warning">
              
              <% for(var i = 0; i < errors.length; i++) {%>
                 
                 <%= errors[i].msg %>

              <% } %>

            <a href="" class="close">&times;</a>

          </div>

          <% } %>
          
        </div> 

      </div>

      <div class="row">
        <div class="col-md-6">
          
          <% if (user.validEmail) { %>
            <label>Event organizer:</label>
          <% } %>
          
          <div class="form-group">
            <label>Event name:</label>
            <input type="text" placeholder="" class="form-control" name="name" value="<%= theEvent.name || '' %>" />
          </div>
          
          <div class="form-group">
            <label>Event location: </label>
            <input class="form-control" type="text" placeholder="" name="location" value="<%= theEvent.location || '' %>" />
          </div>
          
          <div class="form-group">
            <label>Event description:</label>
            <textarea class="form-control" name="description" rows="12"><%= theEvent.description || '' %></textarea>
          </div>
        </div>
        
        <div class="col-md-6">

          <% if(theEvent.images && theEvent.images.length) { %>
        
            <ul class="clearing-thumbs event-images" data-clearing>
              
              <% theEvent.images.forEach(function(image, i){  %>
                
                <li class="event-image-thumb <% if (image.active) { %> active-image <% } %>" >
                  
                  <a href="<%= image.path %>" class="th">
                    <img src="<%= image.path %>" width="100">
                  </a>
                  
                  <a href="/dashboard/<%= orgId %>/event/<%= theEvent._id %>/deleteimage/<%= i %>" class="btn-delete-image" title="Delete image">
                    <i class="fa fa-times-circle"></i>
                  </a>
                
                </li>

              <% }) %>
              
            </ul>
          
          <% } %>
        
          <div class="form-group">
            <label>
              Event images:
              <input type="file" name="images" multiple <% if (!theEvent || !theEvent._id) {%> required <% } %>>
            </label>
          </div>
          
          <div class="form-group">        
            <label>Event date:</label>
            <input type="text" class="form-control" name="date" value="<%= moment(theEvent.date).format() %>" class="event-date" required>
          </div>

          <div class="form-group">
            <label> Event seats: </label>
            <input class="form-control" type="number" name="seats" value="<%= theEvent.seats || '' %>" required>
          </div>
          
          <input type="hidden" name="_id" value="<%= theEvent._id || '' %>">
          
          <% if(theEvent.images && theEvent.images.length) { %>
            <input type="hidden" name="existingImages" value="<%= JSON.stringify(theEvent.images) %>">
          <% } %>
          
          <% if (theEvent._id) { %>

            <a href="/dashboard/eventdelete/<%= theEvent._id %>" class="btn btn-danger">Delete event</a>

          <% } %>

          <% if (user.validEmail) { %>
          
          <button class="btn btn-primary pull-right" type="submit">
            Save
          </button>

          <% } else { %>

          <div class="row">
            
            <div class="col-md-6">
                
                <div class="form-group">
                  <label for="">Username (must be a valid email)</label>
                  <input class="form-control" type="email" name="username" id="">
                </div>

                <div class="form-group">
                  <label for="">Organization name</label>
                  <input class="form-control" type="text" name="org_name" id="">
                </div>

                <div class="form-group">
                  <label for="">Password</label>
                  <input class="form-control" type="password" name="password" id="">
                </div>

                <a href="" class="btn btn-secondary">Cancel</a>
                <button class="btn btn-primary pull-right" type="submit">
                  Save
                </button> 

            </div>
          </div>

          <% } %>


        </div>
      </div>
      
    </form>

  </div>
</div>
 
<%- include dashboard-footer %>