<%- include dashboard-header %>

    <div class="row">
      <div class="col-md-2">
        <%- include nav-left %>
      </div>

      <div class="col-md-10">
        

        <% if (!events.length) { %>
          <div class="alert alert-info">
            <div class="row">
              <div class="col-md-10">
                <p>Nu exista evenimente.</p>
              </div>
              <div class="col-md-2">
                <a href="/dashboard/<%= orgId %>/event" class="btn btn-primary btn-sm">Eveniment nou</a>
              </div>
            </div>
          </div>
        <% } else { %>

          <h2>
            Events
          </h2>
          
          <% events.forEach(function(event){ %>

          <div class="row row-row">
            
            <div class="col-md-1 row-td">
              
              <div class="date rbt">

                <div class="date-monthday">
                  <div class="date-weekday">
                    <%= moment(event.date).format('dd') %>
                  </div>  
                  <%= moment(event.date).format('DD') %>
                </div>

                <div class="date-month">
                  <%= moment(event.date).format('MMM') %>
                </div>
                
                <div class="date-hour">
                  <%= moment(event.date).format('HH:mm') %>
                  <div class="date-year">
                    <%= moment(event.date).format('YYYY') %>
                  </div>
                </div>

                

              </div>

            </div>

            <div class="col-md-10">
              <h4 class="event-title">
                <a href="/dashboard/<%= orgId %>/event/<%= event._id %>"><%= event.name %></a>

                <a target="_blank" href="/u/<%= org.name %>/event/<%= event._id %>" class="external-link"><i class="fa fa-external-link"></i></a>
              </h4>

              <div class="event-seats-info">
                <span class="seats-invited">
                  <a href="/dashboard/<%= orgId %>/reservations/<%= event._id %>"><%= event.invited %> rezervari</a>
                </span>
                <span class="seats-total">
                  din <%= event.seats %> disponibile.
                </span>  
                <span class="seats-waiting text-muted">
                  <%= event.waiting %> in asteptare
                </span>
              </div>
            </div>

            <div class="col-md-1 row-td-btn">
              <a title="Sterge eveniment" href="/dashboard/<%= org._id %>/delete-event/<%= event._id %>" class="event-delete" onclick="if (!confirm('Sunteti sigur ca doriti stergerea acestui eveniment?')) return false"><i class="fa fa-trash"></i></a>
            </div>

          </div>
 

          <% }) %>

          <a href="/dashboard/<%= org._id %>/event" class="btn btn-primary btn-new-event pull-right">Adauga eveniment nou</a>
        <% } %>
        

      </div>

    </div>


<%- include dashboard-footer %>
