<%- include dashboard-header %>
    

    <div class="row">
      <div class="col-md-2">
        <%- include nav-left %>
      </div>

      <div class="col-md-10">
        <h2>
          Events
        </h2>

        <div class="row row-head">
          
          <div class="col-md-4">
            Numele evenimentului
          </div>

          <div class="col-md-4">
            Data
          </div>

          <div class="col-md-1 row-center">
            Locuri
          </div>

          <div class="col-md-1 row-center">
            Rezervari
          </div>
          
        </div>
        
        <% events.forEach(function(event){ %>

        <div class="row row-row">

          <div class="col-md-4">
            <h4><a href="/dashboard/<%= orgId %>/event/<%= event._id %>"><%= event.name %></a></h4>
          </div>
          
          <div class="col-md-4 row-td">
            <%= moment(event.date).format('LLLL') %>
          </div>

          <div class="col-md-1 row-td row-center">
            <%= event.seats %>
          </div>
          <div class="col-md-1 row-td row-center">
            <%= event.reservedSeats %>
          </div>
          <div class="col-md-2 row-td-btn">
            <a href="/dashboard/<%= orgId %>/reservations/<%= event._id %>" class="btn btn-primary btn-sm">Vezi rezervari</a>
          </div>
          

        </div>

        <% }) %>

      </div>

      
    </div>
<%- include dashboard-footer %>
