<div class="panel panel-default">
  <div class="panel-body">
    <ul class="list list-unstyled">
      <li><a href="/dashboard/<%= org._id %>/settings/notifications">Notifications</a></li>
      <li><a href="/dashboard/<%= org._id %>/settings/profile">Profile</a></li>
      <li><a href="/dashboard/<%= org._id %>/settings/organization">Organization Profile</a></li>
      <li><a href="/dashboard/<%= org._id %>/settings/integrations">Mailchimp Integrations</a></li>
      <li><a href="/dashboard/<%= org._id %>/settings/templates">Email Templates</a></li>
    </ul>
  </div>
</div>